// Local
@import 'loading';
@import 'login';
@import 'blur';

.testing {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 35" width="4em" style="font-size: 2em; font-family: Arial,sans-serif;"><text fill="none" stroke="%23F2D7D5" x="0" y="1em">Testing</text></svg>');
  background-repeat: space;
}
