// Initialize
@import 'init';
// Local
@import 'loading';
@import 'login';

.bg-brand {
  background-color: $brand-color;
}

.text-brand {
  color: $brand-color;
}

.text-underline-hover {
  text-decoration: none;
}

.text-underline-hover:hover {
  text-decoration: underline;
}

[x-cloak] {
  display: none !important;
}

.like-pre {
  white-space: pre-wrap;
  display: block;
}
